// Useful mixins for CSS3 effects.
@import 'nib'


@import '_variables'
@import '_mixins';

@import '_fonts';


body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    horizontal-align: center;
    margin: 0 auto;
    border: 10px solid purple;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE
}
