// Useful mixins for CSS3 effects.
@import 'nib'


@import '_variables'
@import '_mixins';

@import '_fonts';


body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    horizontal-align: center;
    margin: 0 auto;
    border: 10px solid purple;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
